.settings {
    margin: 0 auto;
}


html, body {
    height: 100%;
    scroll-behavior:smooth;
}

body {
    font-family: 'Muli', sans-serif;
    color: #222;
    background-color: #fff;
}

h1,.h1 {
    font-family: 'Courgette', sans-serif;
}

h2,h3,h4,h5,h6,
.h2,.h3,.h4 {
    font-family: 'Muli', sans-serif;
}

hr {
    border-color: rgba(255,255,255,0.7);
}

a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #777;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
    opacity: 0.9;
    color: #bbb;
}

p > a {
    color: #444;
    border-bottom: #444 1px dotted;
}

.color {
    color: #777;
}

.color-alt {
    background-color: #e7e7e7;
}

footer {
    border-top: 1px solid #f3f3f3;
    padding: 40px 0;
}

/* for anchor offsets */
section:before {
    height: 56px;
    content: "";
    display:block;
}
section {
    position: relative;
    padding: 45px 0;
    border-bottom: 1px solid #f3f3f3;
}

@media(max-width:768px) {
    section {
        padding: 70px 0;
    }
}

.list-inline>li {
    padding-bottom: 10px;
}

/* NavBar */
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 0;
    text-transform: uppercase;
    background-color: rgba(#007bff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#007bff, endColorstr=#663399);
    background-image: -moz-linear-gradient(left bottom, #007bff 10%, #663399 100%);
    background-image: -webkit-linear-gradient(left bottom, #007bff 10%, #663399 100%);
    background-image: -ms-linear-gradient(left bottom, #007bff 10%, #663399 100%);
    background-image: linear-gradient(left bottom, #007bff 10%, #663399 100%);
    background-image: -o-linear-gradient(left bottom, #007bff 10%, #663399 100%);
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(10%,#007bff), color-stop(100%,#663399));
}

.navbar-custom.navbar a {
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
}
.navbar-custom .nav li a:hover {
    color: rgba(255,255,255,.8);
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 15px;
        border-bottom: 0;
    }
    .navbar-custom.top-nav-collapse {
        padding: 10px 15px;
    }
}

.op-2 {
    opacity:0.1;
}
